/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red !important;*/
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: Lato;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

section{
  background-color:#161525;
}

a:focus{
  border: none;
  outline: none;
}

h1,
h2{
  font-weight: 300;
  text-transform: uppercase;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '.';
  clear:both;
  display: block;
  height:0;
  visibility:hidden;
}

/*-------------------------------------------------------------------------*/
/*REUSABLE CONTENTS*/
/*-------------------------------------------------------------------------*/

.hidden {
  display:none;
}

/*------Main navigation------*/

header {
  width:100%;
  position: fixed;
  z-index: 8;
}

.active {
  transition: left 0.31s;
}

.navigation-arrow {
  display:none;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 100vh;
  transform: translate(-50%, -50%);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*------Buttons------*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #22A4EB;
  border: 1px solid #22A4EB;
  color: #fff;
  margin-top: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #22a4eb;
  color: #22a4eb;
  margin-top: 10px;
}

.btn:hover,
.btn:active {
  border: 1px solid #028FDA;
  background-color: #028FDA;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
  border: 1px solid #028FDA;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #028FDA;
  color: #fff;
}

.img-list-small {
  height: 30px;
  margin-right: 10px;
}

.icons-coffee{
  display: inline-block;
  margin-left: 5px;
}

.slide .section-title{
  transform: rotate(45deg);
  margin-top: 10%;
  margin-right: -30%;
  text-align: center;
}

.slide .image h2 {
  line-height: 150%;
  font-size: 220%;
}

.icons-who-am-i{
  font-size: 300%;
}

nav {
  position: absolute;
  right: 0;
  font-size: 2.5em;
  display: inline-block;
  margin: .2em .2em .2em 0;
}

nav {
  .bt-menu-trigger {
    display: none;
  }

  li {
    list-style: none;
  }

  a:focus, a:hover {
    text-decoration: none;
  }

  a {
    span {
      display: none;
    }
  }
}

/*-------------------------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------------------------*/
.no-js #loader { display: none;  }
.js #loader {
  display: block;
  position: absolute;
  z-index: 10;
  left: 100px; top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url('./img/Preloader_2.gif') center no-repeat #161525;
}

.brief-introduction-header, span{
  display: inline-block;
}

.fp-slidesNav.top {
  top: 10px;
}

.bt-menu.bt-menu-open {
  border-width: 0 45px 0 0;
}

.bt-menu.bt-menu-open ul li {
  width: 45px;
}

.bt-menu{
  ul {
    right: 45px;
  }

  .contacts{
    position: fixed;
    bottom: 0;
  }
} 

.section-header {
  height: 100%;
}

.section-header {
  .intro {
    transform: translateY(50%);
  }

  .auto-type h1{
    font-family: Philosopher;
    text-transform: none;
    color: #ecf0f1;
    font-size: 2.5em;
  }

  .brief-introduction-header h2{
    text-transform: none;
    color: #ecf0f1;
    font-size: 2em;
  }
}

/*-------------------------------------------------------------------------*/
/*WHO AM I*/
/*-------------------------------------------------------------------------*/

.icons-who-am-i a,
.icons-who-am-i i{
  cursor: pointer;
  font-size: 90%;
}

.section-who-am-i {
  .icons-who-am-i{
    display: inline-block;
    float: left;
    width: 10%;
  }

  .title{
    line-height: 150%;
    font-size: 100%;
  }

  .fun-facts{
    height: 100%;
    width: 90%;
    float: right;
  }

  a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .menu-web-developer .icons-who-am-i{
    color: #19B5FE;
  }

  .menu-accountant h2{
    font-family: Chonburi;
    color: #27ae60;
  }

  .menu-accountant .icons-who-am-i{
    color: #27ae60;
  }

  .menu-bartender h2{
    font-weight: 700;
    font-family: Lobster;
    color: #c0392b;
  }

  .menu-bartender .icons-who-am-i{
    color: #c0392b;
  }

  .menu-traveler h2{
    font-weight: 700;
    font-family: YesevaOne;
    color: #f8e8b5;
  }

  .menu-traveler .icons-who-am-i{
    color: #f8e8b5;
  }

  .menu-web-developer h2{
    color: #19B5FE;
  }
}

.brief-introduction {
  font-size:90%;
  color: #ecf0f1;
  list-style:none;

  .long-text {
    color: #fff;
    padding-top: 10px;
  }

  .long-text p{
    font-size: 100%;
    line-height: 145%;
    margin-bottom: 5%;
  }
  .about-me{
    height: 90%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
  }

  .about-me .icons-who-am-i{
    top: -15px;
  }

  .about-me {
    .personal-info,
    .general-facts{
      height: 50%;
      width: 100%;
    }
  }
}


/*-------------------------------------------------------------------------*/
/*web developer*/

.web-developer {
  h2{
    font-size: 110%;
  }

  .long-text h2{
    font-size: 110%;
    color: #19B5FE;
    text-align: center;
    margin-bottom: 10px;
  }

  .long-text .makers-academy{
    display:none;
  }

  .long-text ul{
    text-align: center;
    list-style: none;
    line-height: 20px;
    font-size: 100%;
  }

  .icons-who-am-i{
    color: #19B5FE;
    font-size: 300%;
    position: fixed;
  }

  .skills h2,
  .certificates h2 {
    margin: 1% 0;
    color: #19B5FE;
  }

  .skills {
    text-align:center;
  }

  .skills {
    .languages,
    .frameworks{
      display: inline-block;
      margin: 5px;
    }
  }

  .certificates .img-list-small{
    height: 65px;
  }
}

/*-------------------------------------------------------------------------*/
/*accountant*/

.accountant {
  .icons-who-am-i{
    color: #27ae60;
    font-size: 300%;
    position: fixed;
  }

  .general-facts{
    text-align: center;
    color:#fff;
    display:inline;
  }

  h2{
    font-family: Chonburi;
    color: #27ae60;
    font-size: 140%;
    margin-top: 20%;
  }

  .facts {
    .accounting-facts{
      display:inline-block;
      margin: 0 5%;
    }

    .coffee{
      display:none;
    }

    .coffee p{
      display: inline-block;
    }
  }

  .icons-coffe {
    margin-left: 10px;
    display: inline-block;
  }
}


/*-------------------------------------------------------------------------*/
/*bartender*/

.bartender {
  .icons-who-am-i{
    color: #c0392b;
    font-size: 300%;
    position: fixed;
  }

  .general-facts{
    display:inline;
    font-family: GravitasOne;
    position: relative;
    text-align:center;
  }

  .general-facts {
    h2{
      color: #c0392b;
      font-family: Lobster;
      font-size: 140%;
      margin: 5% auto;
    }

    img{
      width: 20%;
      margin-top: 5%;
    }

    p{
      margin: 10px 0;
    }
  }

  .invented-cocktail i{
    padding-top: 30px;
    font-size: 350%;
  }
}

/*-------------------------------------------------------------------------*/
/*traveler*/

.traveler {
  .icons-who-am-i{
    color: #f8e8b5;
    font-size: 300%;
    position: fixed;
  }

  .travel-quote {
    padding-top: 15px;
    font-family: Merriweather;
    color: #FFFFFF;
    font-size: 160%;
  }

  .travel-quote span{
    display: block;
    text-align: right;
    margin: 30px 70px;
  }

  h2 {
    font-size: 140%;
    font-family: Merriweather;
    color: #f8e8b5;
  }

  h2 span{
    font-size: 160%;
    color: #fff;
  }

  .general-facts{
    text-align: center;
    display:inline;
  }

  .general-facts {
    .flags {
      height: 70px;
      margin: 0 auto;
      width: 308px;
    }
  }

  .languages-countries{
    text-align: center;
    margin-top: 2%;
  }

  .footer {
    text-align:center;
  }

  .personal-quote {
    margin-top: 5%;
    font-family: Merriweather;
    font-size: 160%;
  }
}


/*-------------------------------------------------------------------------*/
/*PROJECTS*/
/*-------------------------------------------------------------------------*/
.keyboard{
  z-index: 8;
  position: absolute;
  top: 94%;
  left: 61%;
  display:none;
}

.section-projects{
  background-color: rgb(22, 21, 37);
  color: #fff;
  font-family: Lato;
}

.section-projects {
  .project {
    margin-top: 10%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
  }

  .project-name{
    text-align: center;
    width: 100%;
  }

  .img-list-small {
    height: 50px;
  }

  .project .photo{
    display: inline-block;
    margin: 0 10px;
    text-align: center;
  }

  .accounting-rails h1 {
    font-family: Lato;
    color:#27ae60;
  }

  .autotrasporti-rotari h1 {
    font-family: Georgia;
    color:#39658C;
  }
  .cms-php h1 {
    font-family: Georgia;
    color:#39658C;
  }
  .omnifood h1 {
    font-family: Lato;
    color:#e67e22;
  }
  .maker-pair h1 {
    color: #228B22;
  }

  .photo img{
    width: 60%;
  }

  .project-info{
    float: right;
    margin: 0 10px;
  }

  .languages{
    display: inline-block;
    margin-left: 15%;
  }

  h2{
    font-weight: 300;
    color: #fff;
    font-size: 115%;
    display: inline-block;
    text-transform: none;
    margin: 5% 1% 5% 0;
  }

  h2 a{
    text-decoration: none;
    color: #19B5FE;
  }

  h1{
    color: #19B5FE;
    font-family: YesevaOne;
    letter-spacing: 4px;
    font-size: 150%;
  }

  p{
    font-size: 100%;
  }

  .project-facts{
    text-align:center;
  }

  .coffee{
    font-size: 120%;
    margin: 10px;
  }

  .coffee h3{
    display: inline-block;
  }

  .coffee p{
    display: inline-block;
    margin:0;
  }
}
