*,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  .absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .menu {
    width: 5em;
    height: 5em;
  }
  .menu .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*background: rgba(255, 255, 255, 0.15);*/
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .menu .btn .fa {
    font-size: 3em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .menu .rotater .btn:hover{
    background-color: transparent !important;
    border: none;
  }

  .menu .btn:hover .fa {
    color: rgba(255, 255, 255, 0.7);
  }

  .menu .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .menu .btn.trigger:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .menu .btn.trigger:hover .line {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .menu .btn.trigger:hover .line:before, .menu .btn.trigger:hover .line:after {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .menu .btn.trigger .line {
    width: 40%;
    height: 4px;
    background: #000;
    -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
    transition: background-color 0.3s, height 0.3s, top 0.3s;
  }
  .menu .btn.trigger .line:before, .menu .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #000;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .menu .btn.trigger .line:before {
    top: -12px;
    -webkit-transform-origin: 10% 100%;
    transform-origin: 10% 100%;
  }
  .menu .btn.trigger .line:after {
    top: 12px;
    -webkit-transform-origin: 15%;
    transform-origin: 15%;
  }
  .menu .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .menu.active .btn-icon {
    opacity: 1;
    z-index: 50;
  }
  .menu.active .trigger .line {
    height: 0px;
    top: 45%;
  }
  .menu.active .trigger .line:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110%;
  }
  .menu.active .trigger .line:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 110%;
  }

  .rotater:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu.active .rotater:nth-child(1) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(2) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .menu.active .rotater:nth-child(2) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(3) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .menu.active .rotater:nth-child(3) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(4) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .menu.active .rotater:nth-child(4) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(5) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  .menu.active .rotater:nth-child(5) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(6) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .menu.active .rotater:nth-child(6) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(7) {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .menu.active .rotater:nth-child(7) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }

  .rotater:nth-child(8) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .menu.active .rotater:nth-child(8) .btn-icon {
    -webkit-transform: translateY(-115%) rotate(0deg);
    transform: translateY(-115%) rotate(0deg);
  }
