@media only screen and (min-height: 689px)  {
  html, body {font-size: 17px;}
  .web-developer .long-text .makers-academy {display: block;}
  .web-developer .skills {padding-top: 50px;}
  .section-projects .photo img {width: 100%;}
}

@media only screen and (min-height: 730px)  {
  .text-box .brief-introduction-header {height: 50%;}
  .text-box .contact-me {height: 30%;}
  .section-who-am-i .about-me {
    height: 80%;
    margin-top: 20%;
  }
}

@media only screen and (min-width: 500px) {
  .text-box {padding: 4%;}
  .icons-who-am-i a, .icons-who-am-i i {font-size: 110%;}
  .summary-who-am-i .fun-facts {
    width: 85%;
  }
  .section-who-am-i .summary-who-am-i .icons-who-am-i {
    width: 15%;
  }
  .summary-who-am-i .title {
    padding-bottom: 10px;
  }
  html, body {
    font-size: 17px;
  }
  .bt-menu.bt-menu-open {
    border-width: 0 50px 0 0;
  }
  .bt-menu ul {
    right: 49px;
  }

  .navigation-arrow {
    display: block;
  }
  .section-who-am-i .about-me {
    height: 80%;
    margin-top: 20%;
    padding: 3%;
  }
  .section-who-am-i .about-me .icons-who-am-i {
    padding-left: 10px;
    padding-top: 10px;
  }
  .traveler .languages{
    padding-bottom: 20%;
  }
  .traveler .general-facts .flags {
    height: 70px;
    margin: 0 auto;
    display: block;
    width: 308px;
    padding-top: 20px;
  }
  .img-list-small {
    height: 50px;
  }
  .web-developer .long-text h2 {
    font-size: 150%;
  }
  .web-developer .long-text ul {
    line-height: 28px;
  }
  .web-developer h2 {
    font-family: robotoCondensed, sans-serif;
    font-size: 150%;
  }
  .section-projects h1 {
    font-size: 179%;
  }
  .section-projects .project {
    padding: 4%;
  }
}

@media only screen and (min-width: 570px) {
}

@media only screen and (min-width: 600px) {
  .section-who-am-i .brief-introduction {
    font-size: 100%;
    color: #ecf0f1;
    list-style: none;
  }
}

@media only screen and (min-width: 650px) {
  .text-box .auto-type h1 {
    font-size: 150%;
  }
  .icons-who-am-i a, .icons-who-am-i i {
    font-size: 120%;
  }
  .section-projects h1 {
    font-size: 200%;
  }
  .btn-ghost:link, .btn-ghost:visited {
    width: 48%;
    display: inline-block;
  }
  .btn-full:link, .btn-full:visited, input[type=submit] {
    width: 48%;
    display: inline-block;
  }
}

@media only screen and (min-width: 720px) {
  html, body {
    font-size: 19px;
  }
}

@media only screen and (min-height: 1280px) {
  .bt-menu-trigger span {
    height: 4px;
  }
  .bt-menu.bt-menu-open {
    border-width: 0 80px 0 0;
  }
  .bt-menu ul li a:before {
    font-size: 50px;
  }
  .bt-menu ul {
    right: 63px;
  }
  .text-box .auto-type h1 {
    font-size: 180%;
  }
  .text-box .brief-introduction-header h2 {
    font-family: monda;
    text-transform: none;
    font-size: 150%;
    color: #ecf0f1;
  }
  .img-list-small {
    height: 80px;
  }
  .certificates .img-list-small {
    height: 100px;
  }
  html, body {
    font-size: 23px;
  }
}

@media only screen and (min-width: 800px) {
  .text-box .contact-me {
    height: 30%;
    text-align: left;
  }
  .btn-full:link, .btn-full:visited, input[type=submit] {
    width: auto;
    display: inline-block;
  }
  .btn-ghost:link, .btn-ghost:visited {
    width: auto;
    display: inline-block;
  }
  .text-box .brief-introduction-header {
    height: 15%;
  }
  .img-list-small {
    height: 35px;
  }
  .certificates .img-list-small {
    height: 80px;
  }
  .section-projects .project {
    padding: 0 4%;
  }
  .section-projects .photo img {
    width: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .traveler .languages {
    padding-bottom: 10%;
  }
}

@media only screen and (min-width: 1037px) {
  .section-who-am-i .summary-who-am-i{margin-top: 5%;}
  .text-box .brief-introduction-header {
    height: 15%;
    width: 61%;
  }
  .text-box .auto-type {
    height: 10%;
  }
  .text-box .contact-me {
    height: 40%;
    text-align: left;
  }
  .summary-who-am-i .menu-accountant,
  .summary-who-am-i .menu-bartender,
  .summary-who-am-i .menu-web-developer,
  .summary-who-am-i .menu-traveler {
    width: 50%;
    height: 25%;
  }
  .section-who-am-i .summary-who-am-i .icons-who-am-i {
    width: 100%;
  }
  .summary-who-am-i .fun-facts {
    width: 100%;
  }
  .keyboard {
    display: block;
  }
  .traveler .general-facts .flags {
    width: 396px;
  }
  .percircle {
    font-size: 90px;
  }
  .pie, .percircle .bar, .gt50 .fill {
    border: 7px solid #2980b9;
  }
  .section-who-am-i .about-me .personal-info,
  .section-who-am-i .about-me .general-facts {
    height: 50%;
    width: 50%;
  }
  .section-who-am-i .about-me .general-facts .facts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .section-who-am-i .about-me {
    height: 70%;
    margin-top: 20%;
    padding: 3%;
  }
  .accountant .facts .accounting-facts {
    display: inline-block;
    margin: 0;
    width: 50%;
  }
  .accountant .facts .accounting-facts h2:first-child{
    margin-top:0;
  }
  .web-developer .skills {
    padding-top: 0;
  }
  .section-who-am-i .about-me .general-facts .certificates{
    padding-top: 30px;
  }
  .section-projects .project-name {
    height: 0%;
  }
  .section-projects .project .photo {
    margin: 0; 
    width: 50%;
  }
  .section-projects .project-info {
    margin: 0; 
    width: 50%;
  }

  .section-projects .photo img{
    width: 90%;
    transition:0.3s;
  }

  .section-projects .photo img:hover {
    transform: rotate(0);
    width: 200%;
    margin-left: 0%;
    margin-top: -30%;
  }
}
@media only screen and (min-width: 1100px) {
  html, body {
    font-size: 20px;
  }
  .section-who-am-i .about-me {margin-top: 15%;}
  .web-developer .skills .languages, 
  .web-developer .skills .frameworks {padding: 10px;}
  .img-list-small {height: 50px;}
}

@media only screen and (min-width: 1300px) {
  html, body {
    font-size: 23px;
  }
  .img-list-small {
    height: 60px;
  }
  .certificates .img-list-small {
    height: 95px;
  }
}
@media only screen and (min-width: 1500px) {
  html, body {
    font-size: 24px;
  }
  .img-list-small {
    height: 70px;
  }
  .web-developer .skills .languages, .web-developer .skills .frameworks {
    display: inline-block;
    padding: 25px;
  }
  .web-developer .long-text ul {
    line-height: 40px;
  }
  .section-projects .photo img:hover {
    width: 170%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 1900px) {
  html, body {
    font-size: 27px;
  }
}
