/*small tablets to 1200px */
@media only screen and (max-width: 1200px) {
  .row {
    width: 885px;
  }
  .text-box {
    margin-top: 25%;
    margin-left: 0%;
  }
  .img-list-small {
    width: 65px;
    height: 65px;
  }

  .web-developer .skills h2, .web-developer .certificates h2 {
    font-size: 93%;
  }

  .makers-accademy {
    margin-top: 15%;
  }

  .makers-accademy-img {
    width: 70%;
    margin-bottom: 1%;
  }

  .web-developer .certificates h2 {
    margin-top: 10%;
  }

  .accountant .brief-introduction {
    width: 471px;
  }

  .traveler .travel-quote {
    font-size: 125%;
  }

  .traveler .personal-quote {
    font-size: 125%;
  }

  .percircle {
    font-size: 90px;
  }

  .pie, .percircle .bar, .gt50 .fill {
    border: 7px solid #FFFFFF;
  }

  .traveler h3 {
    font-size: 170%;
  }

  .projects .photo {
    height: 40vh;
  }

  .project-name h1{
    padding-top: 0px;
    font-size: 150%;
  }

  .projects h2 {
    padding-top: 0px;
    font-size: 110%;
  }

  .projects p {
    margin: 15px;
  }

  .aspirations blockquote::before {
    font-size: 300%;
  }

  .aspirations blockquote {
    font-size: 170%;
    padding: 1%;
    line-height: 115%;
    margin-top: 5%;
  }

  .aspirations p{
    font-size: 16px;
  }
  .btn-icon i::before {
    margin-top: 75%;
    font-size: 170%;
  }

  .menu .btn.trigger:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/*small tablet to big tablet from 768px to 1023px*/
@media only screen and (max-width: 1023px){
}


/*small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px) {
}

/*small phones from 0 to 480*/
@media only screen and (max-width: 480px) {
}
