.sl-slider-wrapper {
  width:100%;
  height:100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sl-slider {
  position:relative;
  top:0;
  left:0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.sl-slide {
  z-index:1;
}

.sl-content-slice {
  overflow:hidden;
  position:absolute;
  box-sizing:content-box;
  background:#fff;
}


/* horizontal slice */

.sl-slide-horizontal .sl-content-slice {
  width:100%;
  height: 50%;
  left:-50vh;
}

.sl-slide-horizontal .sl-content-slice:first-child{
  top:-50vh;
  padding: 50vh 50vh 0 50vh;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2){
  top:50vh;
  padding:0 50vh 50vh 50vh;
}

/* vertical slice */

.sl-slide-vertical .sl-content-slice {
  width:50%;
  height:100%;
  top:-50vh;
}

.sl-slide-vertical .sl-content-slice:first-child{
  left:-50vh;
  padding: 50vh 0 50vh 50vh;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
  left:50%;
  padding: 50vh 50vh 50vh 0;
}

/* content wrapper */

.sl-content-wrapper {
  position:absolute;
}

.sl-content{
  width:100%;
  height100%;
  background:#fff;
}

/* custom navigation arrows */

.nav-arrows span {
  position:absolute;
  z-index:11;
  top: 52.5%;
  width:40px;
  height:40px;
  border:3px solid rgba(150,150,150,0.9);
  text-indent:-90000px;
  margin-top:-40px;
  cursor:pointer;
  transform: rotate(45deg);
}

.nav-arrows span:hover{
  border-color: #fff;
}

.nav-arrows span.nav-arrow-prev {
  left: 1%;
  border-right:none;
  border-top:none;
}

.nav-arrows span.nav-arrow-next{
  right:1%;
  border-left:none;
  border-bottom:none;
}

/* custom navigations dots */

.nav-dots {
  right: 17px;
    color: #1E8BC3;
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 250%;
    opacity: 1;
}

#nav-dots .tooltip {
  position: absolute;
  top: -2px;
  color: #1E8BC3;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  right: 20px;
}

.nav-dots ul{
  margin: 0;
  padding: 0;
}

.nav-dots li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav-dots span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #1E8BC3;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.nav-dots span.nav-dot-current{
  background: #1E8BC3;
}

/* First Slide */
.bg-1 .sl-slide-inner,
.bg-1 .sl-content-slice {
  background: #fff;
}

/* Second Slide */
.bg-2 .sl-slide-inner,
.bg-2 .sl-content-slice {
  background: #fff;
}

/* Third Slide */
.bg-3 .sl-slide-inner,
.bg-3 .sl-content-slice {
  background: #fff;
}

/* Forth Slide */
.bg-4 .sl-slide-inner,
.bg-4 .sl-content-slice {
  background: #fff;
}

/* Fifth Slide */
.bg-5 .sl-slide-inner,
.bg-5 .sl-content-slice {
  background: #fff;
}

/* Fifth Slide */
.bg-6 .sl-slide-inner,
.bg-6 .sl-content-slice {
  background: #fff;
}

/* animations for elements */

.sl-trans-elems .deco{
  animation: roll 1s ease-out both;
}

.sl-trans-emlems h2 {
  animation: moveUp 1s ease-in-out both;
}

.sl-trans-elems blockquote {
  animation: fadeIn 0.5s linear 0.5s both;
}

@keyframes roll{
  0% {transform: translateX(500px) rotate(360deg); opacity:0;}
  100% {transform: translateX(0px) rotate(0deg); opacity:1;}
}

@keyframes moveUp{
  0% {transform: translateX(500px) rotate(360deg); opacity:0;}
  100% {transform: translateX(0px) rotate(0deg); opacity:1;}
}

@keyframes roll{
  0% {opacity:0;}
  100% {opacity:1;}
}

.sl-trans-back-elems .deco{
  /*animation: scaleDown 1s ease-in-out both;*/
}

.sl-trans-back-elems h2{
  animation: fadeOut 1s ease-in-out both;
}

.sl-trans-back-elems blockquote{
  animation: fadeOut 1s linear both;
}

@keyframes scaleDown{
  0% {transform: scale(1s);}
  100% {transform: scale(0.5s);}
}

@keyframes fadeOut{
  0% {opacity:1;}
  100% {opacity:0;}
}
