/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2{
  padding-top: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '.';
  clear:both;
  display: block;
  height:0;
  visibility:hidden;
}

/*-------------------------------------------------------------------------*/
/*REUSABLE CONTENTS*/
/*-------------------------------------------------------------------------*/

.row {
  width: 100%;
  margin: 0 auto;
  width: 1140px;
}

/*------Main navigation------*/

header {
  width:100%;
  position: fixed;
  z-index: 9999;
}

.active {
  transition: left 0.31s;
}

.navigation-arrow {
  position: absolute;
  left: 50%;
  top: 100vh;
  transform: translate(-50%, -50%);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;	
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*------Buttons------*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #22A4EB;
  border: 1px solid #22A4EB;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #22a4eb;
  color: #22a4eb;
}

.btn:hover,
.btn:active {
  border: 1px solid #028FDA;
  background-color: #028FDA;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
  border: 1px solid #028FDA;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #028FDA;
  color: #fff;
}

/*-------------------------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------------------------*/

.section-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/desk-mac.jpeg);
  background-size: cover;
  height:100vh;
}

.text-box {
  margin-top: 20%;
  margin-left: 1%;
}

@font-face {
  font-family: philosopher;
  src: url(fonts/Philosopher-Regular.ttf);
}

.text-box h1{
  height:84px;
  margin-bottom:6%;
  text-transform:none;
  font-family: philosopher, serif;
  font-weight: 400;
  font-size: 190%;
  color: #ecf0f1;
}


/*-------------------------------------------------------------------------*/
/*WHO AM I*/
/*-------------------------------------------------------------------------*/

.section-who-am-i {
}

/*-------------------------------------------------------------------------*/
/*web developer*/

@font-face {
  font-family: robotocondensed:;
  src: url(fonts/robotocondensed-bold.ttf);
}

.web-developer {
  height: 100vh;
  background-color: #fff;
}

.web-developer .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/code-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:30%;
  text-align: center;
}

.web-developer h2 {
  font-family: robotoCondensed, sans-serif;
  color: #19B5FE;
}

.web-developer .image h2 {
  font-weight: 700;
  font-size: 220%;
}

.web-developer .text .long-text {
  padding-top: 10px;
  position:center;
  color: #fff;
}

.web-developer .text .long-text p{
  font-size:100%;
  font-family: 'Yrsa', serif;
  font-weight: 300;
  color: #ecf0f1;
}

.web-developer .text .long-text p img{
  height: 1.5em;
}

.web-developer .skills h2,
.web-developer .certificates h2 {
  font-size: 100%;
  margin-bottom: 3%;
}

.web-developer .skills h2{
  margin-top: 15%;
}

.img-list-small {
  width: 84px;
  height: 84px;
}

.makers-accademy {
  margin-top: 12%;
  text-align: center;
}

.makers-accademy-img {
  width: 70%;
  margin-bottom: 3%;
}

.makers-accademy ul {
  text-align: left;
  margin-left: 20%;
  text-align: left;
  font-size:100%;
  font-family: 'Yrsa', serif;
  font-weight: 300;
}

.web-developer .certificates {
  margin-left: 17%;
}

.web-developer .certificates h2 {
  margin-top: 13%;
}

.certificates .img-list-small{
  width: 25%;
  height: none;
}
/*-------------------------------------------------------------------------*/
/*accountant*/

.accountant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/accounting.jpg);
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: bevan;
  src: url(fonts/Bevan.ttf);
}

.accountant h2 {
  text-align: center;
  font-family: bevan;
  font-weight: 400;
  font-size: 220%;
  color: #00B16A;
}

.accountant .text {
  margin-top: 35px;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.25)
}

.accountant .long-text {
  padding-bottom: 15px;
}

.accountant i {
  color: #fff;
}

@font-face {
  font-family: openSans;
  src: url(fonts/OpenSans-Semibold.ttf);
}

.accountant h3{
  font-family: openSans;
  margin-top: 15px;
  display: inline-block;
  color: #0B8C6F;
}

.accountant p{
  color: #E2EAFF;
  font-family: openSans;
  font-size: 90%;
  line-height: 145%;
  display: inline-block;
}
/*-------------------------------------------------------------------------*/
/*bartender*/

.bartender {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/cocktail.jpg);
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: gravitasOne;
  src: url(fonts/GravitasOne.ttf);
}

.bartender .quote {
  padding: 50px 0;
  text-align: center;
  font-family: gravitasOne;
  font-size: 180%;
  color: #e67e22;
}


@font-face {
  font-family: lobsterRegular;
  src: url(fonts/Lobster-Regular.ttf);
}

.bartender h2 {
  text-align: center;
  font-size: 220%;
  font-family: lobsterRegular;
  color: #9A0012;
}

.bartender .info h3 {
  font-family: lobsterRegular;
}

.bartender .info {
  color: #260004;
  text-align: center;
}

.bartender .info p {
  margin: 10px 0;
  color: #fff;
}
.bartender .personal{
  font-family: gravitasOne;
  position: relative;
  text-align:center;
  color: #fff;
}

.bartender .personal h3{
  color: #260005;
  font-family: gravitasOne;
  font-size: 100%;
}

.bartender .personal p{
  margin: 10px 0;
  font-family: openSans;
}

.bartender .invented-cocktail{
  float: left;
}

.bartender .invented-cocktail i{
  padding-top: 30px;
  font-size: 350%;
}

.bartender .favorite-coctail{
  float: right;
}

/*-------------------------------------------------------------------------*/
/*traveler*/

.traveler {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/travel.jpg);
  background-size: cover;
  height: 100vh;
}

.traveler .content {
  height: 70vh;
}

@font-face {
  font-family: meriendaOne;
  src: url(fonts/MeriendaOne-Regular.ttf);
}

.traveler h2 {
  text-align: center;
  font-size: 220%;
  font-family: meriendaOne;
  color: #2B0A00;
}

@font-face {
  font-family: quicksand;
  src: url(fonts/Quicksand-Bold.ttf);
}

.traveler .travel-quote {
  padding-top: 30px;
  font-family: quicksand, sans-serif;
  color: #FFFFFF;
  font-size: 160%;
}

.traveler .travel-quote span{
  display: block;
  text-align: right;
}

.traveler .personal-quote {
  padding-top: 15%;
  font-family: quicksand, sans-serif;
  color: #FFFFFF;
  font-size: 160%;
}

.traveler .footer {
  height: 30vh;
}

@font-face {
  font-family: rokkitt;
  src: url(fonts/Rokkitt-Bold.ttf);
}

.traveler h3 {
  margin: 10px 0;
  font-size: 180%;
  font-family: rokkitt;
  color: #240011;
}

.countries-visited {
  text-align: right;
  padding-top: 3%;
}

.traveler h3 span{
  color: #FFFFFF;
  font-size: 160%;
}

/*-------------------------------------------------------------------------*/
/*PROJECTS*/
/*-------------------------------------------------------------------------*/
.keyboard{
  z-index: 999;
  position: absolute;
  top: 94%;
  left: 61%;
}

.projects{
  font-family: 'Lato', 'Arial', sans-serif;
  color: #FFFFFF;
}

.projects h2, h3{
  font-weight: 300;
}

.projects h2{
  color:#000000;
  font-size: 150%;
}

.projects h3{
  display:inline-block;
  font-size: 110%;
}

.projects p{
  margin:20px;
  text-align: justify;
}

.first-row{
  height:50%;
}

.first-row>div{
  width:32.66%;
  margin-bottom:0.5%;
  margin-top:0px;
  margin-left:1%;
}

.first-photo,
.second-photo{
  height:98%;
  background-color: #02446E;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 40%;
}

.first-photo .pop-up,
.second-photo .pop-up{
  height:96%;
}

.project-name {
  height:98%;
  background-color:#2980b9;
  text-align:center;
}

.project-name h3{
  display:inline-block
}

.second-row{
  text-align:center;
  top:50%;
  height:50%;
}

.second-row>div{
  width:32.66%;
  margin-top:0.5%;
  margin-bottom:0px;
  margin-left:1%;
}

.approach{
  height:98%;
  background-color:#2980B9;
}

.facts{
  text-align:left;
  height:98%;
  background-color:#02446E;
}

.project-facts{
  margin: 1% 5%;
}

.facts img,
.facts h3{
  margin:10px 0;
}

.facts a{
  text-decoration: none;
  color: #FFFFFF;
}

.conclusion{
  height:98%;
  background-color:#2980b9;
}

/*-------------------------------------------------------------------------*/
/*accounting rails*/
.accounting-rails .first-photo{
  background-image: url(img/desktop-home-contabilita.png);
}

.accounting-rails .second-photo{
  background-image: url(img/desktop-contabilita-dashboard.png);
}

/*-------------------------------------------------------------------------*/
/*autotrasporti-rotari*/
.autotrasporti-rotari .first-photo{
  background-image: url(img/autotrasporti-home.png);
}

.autotrasporti-rotari .second-photo{
  background-image: url(img/autotrasporti-flotta.png);
}

/*-------------------------------------------------------------------------*/
/*cms-php*/
.cms-php .first-photo{
  background-image: url(img/cms-php-home.png);
}

.cms-php .second-photo{
  background-image: url(img/cms-php-admin.png);
}

/*-------------------------------------------------------------------------*/
/*omnifood*/
.omnifood .first-photo{
  background-image: url(img/omnifood-home.png);
}

.omnifood .second-photo{
  background-image: url(img/omnifood-about.png);
}

/*-------------------------------------------------------------------------*/
/*maker-pair rails*/
.maker-pair .first-photo{
  background-image: url(img/maker-pair-home.png);
}

.maker-pair .second-photo{
  background-image: url(img/maker-pair-profile.png);
}

/*-------------------------------------------------------------------------*/
/*ASPIRATIONS*/
/*-------------------------------------------------------------------------*/

.aspirations{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/forest-tree.jpg);
  background-size: cover;
  height:100vh;
  color: #fff;
}

@font-face {
  font-family: playfairDisplay;
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

.aspirations blockquote {
  font-family: playfairDisplay, Georgia, serif;
  text-transform: uppercase;
  font-size: 220%;
  padding: 2%;
  font-style: italic;
  line-height: 120%;
  position: relative;
  margin-top: 7%;
  margin-left: 10%;
}

.aspirations blockquote:before{
  display: block;
  content: "\201C";
  font-size: 400%;
  position: absolute;
  top: 29%;
  left: -7%;
}

.aspirations .why-front-end{
  width: 1140px;
  margin: 0 auto;
  text-align: justify;
}

@font-face {
  font-family: faunaOne;
  src: url(fonts/FaunaOne-Regular.ttf);
}
.aspirations p{
  margin-top:20px;
  font: faunaOne, Georgia, serif;
}

/*-------------------------------------------------------------------------*/
/*CONTACTS*/
/*-------------------------------------------------------------------------*/
.contacts{
  background: url(img/phone-hand-iron-man.png) center center;
  background-size: cover;
}

.btn-icon i::before {
  color: #000;
  margin-top: 50%;
  font-size: 200%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
