/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2{
  font-weight: 300;
  text-transform: uppercase;
}

/*-------------------------------------------------------------------------*/
/*REUSABLE CONTENTS*/
/*-------------------------------------------------------------------------*/

.row {
  padding-top: 15px;
  width: 100%;
  margin: 0 auto;
  width: 1140px;
}

/*------Main navigation------*/

header {
  width:100%;
  position: fixed;
  z-index: 9999;
}

.active {
  transition: left 0.31s;
}

/*-------------------------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------------------------*/

.section-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/mac-keyboard.jpg);
  background-size: cover;
  height:100vh;
}

.text-box {
  text-align:center;
}

.text-box h1{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 190%;
  color: #ecf0f1;
}


/*-------------------------------------------------------------------------*/
/*WHO AM I*/
/*-------------------------------------------------------------------------*/

.section-who-am-i {
}

/*-------------------------------------------------------------------------*/
/*web developer*/

@font-face {
  font-family: robotocondensed:;
  src: url(fonts/robotocondensed-bold.ttf);
}

.web-developer {
  height: 100vh;
  background-color: #fff;
}

.web-developer .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/code-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:30%;
  text-align: center;
}

.web-developer h2 {
  font-family: robotoCondensed, sans-serif;
  color: #19B5FE;
}

.web-developer .image h2 {
  font-weight: 700;
  font-size: 220%;
}

.web-developer .text .long-text {
  padding-top: 10px;
  position:center;
  color: #fff;
}

.web-developer .text .long-text p{
  font-size:100%;
  font-family: 'Yrsa', serif;
  font-weight: 300;
  color: #ecf0f1;
}

.web-developer .text .long-text p img{
  height: 1.5em;
}

.web-developer .skills h2,
.web-developer .certificates h2 {
  font-size: 100%;
  margin-bottom: 3%;
}

.web-developer .skills h2{
  margin-top: 15%;
}

.img-list-small {
  width: 15%;
  height: 15%;
}

.makers-accademy {
  margin-top: 12%;
  text-align: center;
}

.makers-accademy-img {
  width: 70%;
  margin-bottom: 3%;
}

.makers-accademy ul {
  text-align: left;
  margin-left: 20%;
  text-align: left;
  font-size:100%;
  font-family: 'Yrsa', serif;
  font-weight: 300;
}

.web-developer .certificates {
  margin-left: 17%;
}

.web-developer .certificates h2 {
  margin-top: 13%;
}
/*-------------------------------------------------------------------------*/
/*accountant*/

.accountant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/accounting.jpg);
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: bevan;
  src: url(fonts/Bevan.ttf);
}

.accountant h2 {
  text-align: center;
  font-family: bevan;
  font-weight: 400;
  font-size: 220%;
  color: #00B16A;
}

.accountant .text {
  margin-top: 35px;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.25)
}

.accountant .long-text {
  padding-bottom: 15px;
}

.accountant i {
  color: #fff;
}

@font-face {
  font-family: openSans;
  src: url(fonts/OpenSans-Semibold.ttf);
}

.accountant h3{
  font-family: openSans;
  margin-top: 15px;
  display: inline-block;
  color: #0B8C6F;
}

.accountant p{
  color: #E2EAFF;
  font-family: openSans;
  font-size: 90%;
  line-height: 145%;
  display: inline-block;
}
/*-------------------------------------------------------------------------*/
/*bartender*/

.bartender {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/cocktail.jpg);
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: gravitasOne;
  src: url(fonts/GravitasOne.ttf);
}

.bartender .quote {
  padding: 50px 0;
  text-align: center;
  font-family: gravitasOne;
  font-size: 180%;
  color: #e67e22;
}


@font-face {
  font-family: lobsterRegular;
  src: url(fonts/Lobster-Regular.ttf);
}

.bartender h2 {
  text-align: center;
  font-size: 220%;
  font-family: lobsterRegular;
  color: #9A0012;
}

.bartender .info h3 {
  font-family: lobsterRegular;
}

.bartender .info {
  color: #260004;
  text-align: center;
}

.bartender .info p {
  margin: 10px 0;
  color: #fff;
}
.bartender .personal{
  font-family: gravitasOne;
  position: relative;
  text-align:center;
  color: #fff;
}

.bartender .personal h3{
  color: #260005;
  font-family: gravitasOne;
  font-size: 100%;
}

.bartender .personal p{
  margin: 10px 0;
  font-family: openSans;
}

.bartender .invented-cocktail{
  float: left;
}

.bartender .invented-cocktail i{
  padding-top: 30px;
  font-size: 350%;
}

.bartender .favorite-coctail{
  float: right;
}

/*-------------------------------------------------------------------------*/
/*traveler*/

.traveler {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/travel.jpg);
  background-size: cover;
  height: 100vh;
}

.traveler .content {
  height: 70vh;
}

@font-face {
  font-family: meriendaOne;
  src: url(fonts/MeriendaOne-Regular.ttf);
}

.traveler h2 {
  text-align: center;
  font-size: 220%;
  font-family: meriendaOne;
  color: #2B0A00;
}

@font-face {
  font-family: quicksand;
  src: url(fonts/Quicksand-Bold.ttf);
}

.traveler .travel-quote {
  padding-top: 30px;
  font-family: quicksand, sans-serif;
  color: #FFFFFF;
  font-size: 160%;
}

.traveler .travel-quote span{
  display: block;
  text-align: right;
}

.traveler .personal-quote {
  padding-top: 25%;
  font-family: quicksand, sans-serif;
  color: #FFFFFF;
  font-size: 160%;
}

.traveler .footer {
  height: 30vh;
}

@font-face {
  font-family: rokkitt;
  src: url(fonts/Rokkitt-Bold.ttf);
}

.traveler h3 {
  margin: 10px 0;
  font-size: 180%;
  font-family: rokkitt;
  color: #240011;
}

.countries-visited {
  text-align: right;
  padding-top: 3%;
}

.traveler h3 span{
  color: #FFFFFF;
  font-size: 160%;
}
