/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow:hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

section{
  background-color:#161525;
}

a:focus{
  border: none;
  outline: none;
}

h1,
h2{
  font-weight: 300;
  text-transform: uppercase;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '.';
  clear:both;
  display: block;
  height:0;
  visibility:hidden;
}

@font-face {
  font-family: robotocondensed:;
  src: url(fonts/robotocondensed-bold.ttf);
}

@font-face {
  font-family: philosopher;
  src: url(fonts/Philosopher-Bold.ttf);
}

@font-face {
  font-family: chonburi;
  src: url(fonts/Chonburi-Regular.ttf);
}

@font-face {
  font-family: lobsterRegular;
  src: url(fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: gravitasOne;
  src: url(fonts/GravitasOne.ttf);
}

@font-face {
  font-family: yesevaOne;
  src: url(fonts/YesevaOne-Regular.ttf);
}

@font-face {
  font-family: merriweatherSans;
  src: url(fonts/MerriweatherSans-Regular.ttf);
}

@font-face {
  font-family: merriweather;
  src: url(fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: monda;
  src: url(fonts/Muli-ExtraLight.ttf);
}

/*-------------------------------------------------------------------------*/
/*REUSABLE CONTENTS*/
/*-------------------------------------------------------------------------*/

.hidden{
  display:none;
}

.row {
  margin: 0 auto;
  width: 1140px;
}

/*------Main navigation------*/

header {
  width:100%;
  position: fixed;
  z-index: 9999;
}

.active {
  transition: left 0.31s;
}

.navigation-arrow {
  position: absolute;
  left: 50%;
  top: 100vh;
  transform: translate(-50%, -50%);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/*------Buttons------*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #22A4EB;
  border: 1px solid #22A4EB;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #22a4eb;
  color: #22a4eb;
}

.btn:hover,
.btn:active {
  border: 1px solid #028FDA;
  background-color: #028FDA;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
  border: 1px solid #028FDA;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  border: 1px solid #028FDA;
  color: #fff;
}

.img-list-small {
  height: 70px;
  margin-right: 15px;
}

.icons-coffee{
  display: inline-block;
  margin-left: 5px;
}

.slide .section-title{
  transform: rotate(45deg);
  margin-top: 10%;
  margin-right: -30%;
  text-align: center;
}

.slide .image h2 {
  line-height: 150%;
  font-size: 220%;
}

.slide .long-text{
  margin-top: 35%;
}

.icons-who-am-i{
  font-size: 350%;
}


.section canvas{
  position: absolute;
}

/*-------------------------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------------------------*/

.text-box {
  font-weight: 400;
  position: absolute;
  top: 20%;
}

.text-box .auto-type h1{
  font-family: philosopher, serif;
  text-transform:none;
  height:84px;
  margin-bottom:3%;
  font-size: 190%;
  color: #ecf0f1;
}

.text-box .brief-introduction-header{
  width: 70%;
}

.text-box .brief-introduction-header h2{
  font-family: monda;
  text-transform:none;
  margin-bottom:3%;
  font-size: 150%;
  color: #ecf0f1;
}


/*-------------------------------------------------------------------------*/
/*WHO AM I*/
/*-------------------------------------------------------------------------*/

.icons-who-am-i a,
.icons-who-am-i i{
  cursor: pointer;
}

.section-who-am-i .summary-who-am-i{
  text-align:center;
  height:100%;
  width:100%;
  font-family: monda;
}

.summary-who-am-i .title{
  line-height: 150%;
  font-size: 140%;
  margin-top:8%;
}

.summary-who-am-i .menu-web-developer .title,
.summary-who-am-i .menu-accountant .title{
  margin-top:8%;
}

.summary-who-am-i .menu-bartender .title,
.summary-who-am-i .menu-traveler .title{
  margin-top:2%;
}

.summary-who-am-i a{
  text-decoration: none;
}

.summary-who-am-i .icons-who-am-i{
  margin-bottom: 20px;
}

.summary-who-am-i .menu-web-developer .icons-who-am-i{
  color: #19B5FE;
}

.section-who-am-i .brief-introduction {
  margin:20px 40px;
  font-size:100%;
  color: #ecf0f1;
  list-style:none;
}

.summary-who-am-i .menu-accountant h2{
  font-family: chonburi;
  color: #27ae60;
}

.summary-who-am-i .menu-accountant .icons-who-am-i{
  color: #27ae60;
}

.summary-who-am-i .menu-bartender h2{
  font-weight: 700;
  font-family: lobsterRegular;
  color: #c0392b;
}

.summary-who-am-i .menu-bartender .icons-who-am-i{
  color: #c0392b;
}

.summary-who-am-i .menu-traveler h2{
  font-weight: 700;
  font-family: yesevaOne;
  color: #f8e8b5;
}

.summary-who-am-i .menu-traveler .icons-who-am-i{
  color: #f8e8b5;
}

.summary-who-am-i .menu-web-developer h2{
  font-family: robotoCondensed, sans-serif;
  color: #19B5FE;
}

.section-who-am-i .long-text {
  color:#fff;
  font-size:100%;
}

.section-who-am-i .long-text p{
  font-family: monda;
  font-size: 120%;
  line-height: 145%;
  margin-bottom: 10%;
}

/*-------------------------------------------------------------------------*/
/*web developer*/
.web-developer {
  height: 100%;
  font-family: monda;
  line-height:120%;
}

.web-developer h2{
  font-family: robotoCondensed, sans-serif;
  font-size: 140%;
}

.web-developer .long-text{
  margin-top: 25% !important;
}

.web-developer .long-text h2{
  font-size: 140%;
  color: #19B5FE;
  text-align:center;
  margin-bottom: 20px;
}

.web-developer .long-text ul{
  text-align:center;
  list-style:none;
  line-height:35px;
  font-size: 120%;
}

.web-developer .icons-who-am-i{
  color: #19B5FE;
  margin-right: 20px;
  font-size: 700%;
  float:right;
}

.web-developer .skills h2,
.web-developer .certificates h2 {
  margin: 5% 0;
  color: #19B5FE;
}

.web-developer .skills {
  text-align:center;
}

.web-developer .skills .languages,
.web-developer  .skills .frameworks{
  display: inline-block;
  margin: 15px;
}

.certificates .img-list-small{
  width: 150px;
  height: 100px;
}
/*-------------------------------------------------------------------------*/
/*accountant*/

.accountant {
  height: 100%;
  font-family: monda;
}

.accountant .icons-who-am-i{
  color: #27ae60;
  margin-right: 20px;
  font-size: 700%;
  float:right;
}

.accountant .general-facts{
  margin-top: 25%;
  text-align: center;
  color:#fff;
  display:inline;
}

.accountant h2{
  font-family: chonburi;
  color: #27ae60;
  font-size: 140%;
}

.accountant .facts{
  line-height: 200%;
}

.accountant .facts .coffee p{
  display: inline-block;
}

.accountant .icons-coffe {
  margin-left: 10px;
  display: inline-block;
}

/*-------------------------------------------------------------------------*/
/*bartender*/

.bartender {
  height: 100%;
}

.bartender .icons-who-am-i{
  color: #c0392b;
  margin-right: 20px;
  font-size: 700%;
  float:right;
}

.bartender .personal{
  font-family: gravitasOne;
  position: relative;
  text-align:center;
}

.bartender .personal h2{
  color: #c0392b;
  font-family: lobsterRegular;
  font-size: 140%;
  margin: 5% auto;
}


.bartender .personal img{
  width: 24%;
  margin-top: 5%;
}

.bartender .personal p{
  margin: 10px 0;
  font-family: monda;
}

.bartender .general-facts{
  margin-top: 30%;
  display:inline;
}

.bartender .invented-cocktail i{
  padding-top: 30px;
  font-size: 350%;
}

/*-------------------------------------------------------------------------*/
/*traveler*/

.traveler {
  height: 100%;
}

.traveler .icons-who-am-i{
  color: #f8e8b5;
  margin-right: 20px;
  font-size: 700%;
  float:right;
}

.traveler .travel-quote {
  padding-top: 15px;
  font-family: merriweatherSans, sans-serif;
  color: #FFFFFF;
  font-size: 160%;
}

.traveler .travel-quote span{
  display: block;
  text-align: right;
  margin: 30px 70px;
}

.traveler h2 {
  margin: 5% 0;
  font-size: 140%;
  font-family: merriweather;
  color: #f8e8b5;
}

.traveler h2 span{
  font-size: 160%;
  color: #fff;
}


.traveler .general-facts{
  text-align: center;
  display:inline;
}

.traveler .general-facts .flags{
  height: 120px;
  margin: 0 10%;
}

.traveler .languages-countries{
  text-align: center;
  margin-top: 2%;
}

.traveler .footer {
  text-align:center;
}

.traveler .personal-quote {
  margin-top: 5%;
  font-family: merriweatherSans, sans-serif;
  font-size: 160%;
}

/*-------------------------------------------------------------------------*/
/*PROJECTS*/
/*-------------------------------------------------------------------------*/
.keyboard{
  z-index: 8;
  position: absolute;
  top: 94%;
  left: 61%;
}

.section-projects{
  background-color: rgb(22, 21, 37);
  color: #fff;
  font-family: monda;
}

.section-projects .img-list-small {
  height: 50px;
}

.section-projects .accounting-rails .photo,
.section-projects .autotrasporti-rotari .photo,
.section-projects .cms-php .photo,
.section-projects .omnifood .photo,
.section-projects .maker-pair .photo{
  perspective: 1700px;
  display: inline-block;
  width: 50%;
  margin-left: 2%;
}

.section-projects .photo img{
  width: 100%;
  transition:0.3s;
  transform: rotateY(40deg);
}

.section-projects .photo img:hover{
  transform: rotate(0);
  width: 170%;
  margin-left: 10%;
  margin-top: -4%;
}

.section-projects .project-info{
  width: 35%;
  float: right;
  margin-right: 10%;
}

.section-projects .languages{
  display: inline-block;
  margin-left: 15%;
}

.section-projects h2{
  font-family: robotoCondensed, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 115%;
  display: inline-block;
  text-transform: none;
  margin: 5% 1% 5% 0;
}

.section-projects h2 a{
  text-decoration: none;
  color: #19B5FE;
}

.section-projects h1{
  color: #19B5FE;
  font-family: yesevaOne;
  letter-spacing: 4px;
  font-size: 200%;
  position: absolute;
  z-index: 2;
  top: 4%;
  margin-left: 1%;
}

.section-projects p{
  font-size: 110%;
  line-height: 150%;
}

.section-projects .project-facts{
  text-align:center;
}

.section-projects .coffee{
  font-size: 180%;
  margin: 10px;
}

.section-projects .coffee h3{
  display: inline-block;
}

.section-projects .coffee p{
  display: inline-block;
  margin:0;
}
